@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{font-family: "Merriweather", serif;}
*{margin: 0%;}

/*banner section style hare */
.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0% auto;
    margin-top: 50px;
    background-image: url(../images/Banner\ Image.png);
    background-color: rgba(0, 0, 0, 0.459);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    

}
.banner-text {
    color: rgba(255, 255, 255, 1);
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 600px;
   align-items: center;
   text-align: center;

}
.banner-text h1{
    font-size: 72px;
 }